
@{
    ViewBag.Title = "Continue";
}
@Html.Raw(TempData["RegisterMessage"])

@Html.Raw(TempData["DangerMesssage"])

<div class="container">
    <hr/>
    <img src="https://www.dqindia.com/wp-content/uploads/2016/12/BMYSHOW.jpg" width="1000" height="500" class="mx-auto d-block" />
</div>

