@model ProjectCustomer.Models.tbl_Booking

@{
    ViewBag.Title = "TicketDetails";
}

<h2>TicketDetails</h2>
<div style="text-align:center">
    <br/>
<button type="button" class="btn btn secondary">@Html.ActionLink("Tickt Details","TicketDetails")</button>

</div>
