@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p style="background-color:darksalmon">Details. BookMyShow is an Indian online ticketing service for cinemas, theaters, and sports. ... 
purchase tickets for the latest movies, music concerts, plays, stand up comic acts, and major sporting events to name a few.</p>
