
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_site.cshtml";
}

<h2>Contact Us</h2>

<address>
    <h3> Haritha</h3><br />
                     <h3>Vizag</h3><br/>
    9966632746<br/>
    haritha51298@gmail.com
</address>

